
#left {
	height: 300px;
	width:45%;
	border:solid black 1px;
	float:left;
	position:fixed;
}

#posts {
	width: 45%;
	float: right;
}

.blog-post {
	border:solid;
}

#profile-pic {
	position:absolute;
	margin: 20px 20px 20px 20px;
	width: 40%;
}

#header {
	position:fixed;
}

#profile-text {
	float:right;
	margin-right: 10%
}

h1 {
  text-align: center;	
}

h2 {
  text-align: center;
}

h4 {
    text-align: center;		
}



